@use "../abstracts/mixins" as *;

body {
   background: var(--clr-neutral-4);
}

.main-wrapper {
   width: 100%;
   padding-inline: 5rem;

   @include mq(large) {
      padding-inline: 2.44rem;   
   }

   @include mq(small) {
      padding-inline: var(--inline-small); 
   }
}

.top-wrapper {
   @include mq(small) {
      padding-top: 6rem;
   }
}

.hero {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border-radius: var(--primary-radius);
}

button {
   cursor: pointer;
}
