@use '../abstracts/mixins' as *;

.heading-xl {
   font-family: Fraunces;
   font-size: 9.375rem;
   font-style: normal;
   font-weight: 900;
   line-height: 4.5rem;
}

.heading-l {
   font-family: Fraunces;
   font-size: 4.5rem;
   font-style: normal;
   font-weight: 900;
   line-height: 4.5rem;

   @include mq(large) {
      font-size: 3rem;
      line-height: 3rem; 
   }

   @include mq(small) {
      font-size: 2.5rem;
      line-height: 2.5rem; 
   }
}

.heading-m-plus {
   font-family: Fraunces;
   font-size: 2.5rem;
   font-style: normal;
   font-weight: 900;
   line-height: 3rem; /* 120% */

   @include mq(large) {
      font-size: 2rem;
      line-height: 2rem;
   }

   @include mq(small) {
      font-size: 1.75rem;
      line-height: 1.75rem;
   }
}


.heading-m {
   font-family: Fraunces;
   font-size: 2rem;
   font-style: normal;
   font-weight: 900;
   line-height: 2.25rem; 

   @include mq(large) {
      font-size: 1.75rem;
      line-height: 2rem;
   }
}

.heading-s {
   font-family: Fraunces;
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 900;
   line-height: 2rem; 
}

.heading-xs {
   font-family: Fraunces;
   font-size: 1.125rem;
   font-style: normal;
   font-weight: 900;
   line-height: 1.5625rem;
}

p {
   font-family: Barlow;
   font-size: 1rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.625rem;

   @include mq(large) {
      font-size: 0.9375rem;
      line-height: 1.5625rem;
   }
}

.nav-text {
   font-family: Barlow;
   font-size: 0.75rem;
   font-style: normal;
   font-weight: 700;
   line-height: 0.9375rem; /* 125% */
   letter-spacing: 0.05769rem;
   text-transform: uppercase;
   color: var(--clr-neutral-2);
}