@use "../abstracts/mixins" as *;

.footer {
   padding-block: 3rem;
   @include flexbox(row, space-between, center, 0);
   background: var(--clr-neutral-3);
   margin-bottom: 5.5rem;
   padding-inline: var(--extra-padding);
}

.footer-main {
   @include flexbox(row, flex-start, center, clamp(3rem, 7vw, 6.43rem));
}

.footer-main a {
   &:hover,
   &:focus {
      color: var(--clr-neutral-1);
   }
}

.footer-icon {
   height: 1.625rem;
}

.social-media {
   @include flexbox(row, flex-start, center, 1.5rem);
}

.social-media svg {
   fill: var(--clr-neutral-1);

   &:hover,
   &:focus {
      fill: var(--clr-primary-2);
   }
}