@use "../abstracts/mixins" as *;

//Hero

.hero-home {
   padding: 7.31rem 5.31rem;
   @include flexbox(column, flex-start, flex-start, 3.5rem);
   background-image: url(../../assets/images/home/desktop/image-hero-coffeepress.jpg);
  

   @include mq(large) {
      padding: 6.5rem 3.62rem;
      @include flexbox(column, flex-start, flex-start, 2.5rem);
      background-image: url(../../assets/images/home/tablet/image-hero-coffeepress.jpg);
   }

   @include mq(small) {
      padding: 6.25rem 1.5rem 6.19rem;
      @include flexbox(column, flex-start, center, 2.44rem);
      background-image: url(../../assets/images/home/mobile/image-hero-coffeepress.jpg);
   }
}

.hero-content {
   max-width: 30.8125rem;
   @include flexbox(column, flex-start, flex-start, 2rem);

   @include mq(large) {
      max-width: 24.875rem;
      @include flexbox(column, flex-start, flex-start, 1.5rem);
   }

   @include mq(small) {
      @include flexbox(column, flex-start, center, 1.5rem);
   }
}

.hero-content h1,
.hero-content p {
   color: var(--clr-neutral-1);

   @include mq(small) {
      text-align: center;
   }
}

.hero-content p {
   opacity: 0.8;
}

//Collection

.collection-wrapper {
   @include width-height(100%, auto);
   @include flexbox(column, flex-start, center, 0);
   margin-block: 8.5rem 13rem;
   padding-inline: var(--extra-padding);

   @include mq(large) {
      padding-inline: 0;
      margin-bottom: 9rem;
   }

   @include mq(small) {
      margin-block: 7.5rem;
   }
}

.collection-header {
   @include width-height(100%, auto);
}

.collection-item img {
   @include width-height(15.9375rem, auto);

   @include mq(large) {
      @include width-height(14.67638rem, auto);
   }

   @include mq(small) {
      @include width-height(12.51813rem, auto);
   }
}

.collection {
   @include flexbox(row, space-between, flex-start, 1rem);
   @include width-height(100%, auto);
   padding-top: clamp(2rem, 10vw, 10rem);
   background-image: url(../../assets/images/home/desktop/collection.png);
   background-repeat: no-repeat;
   background-position: center top; 
   background-size: 100%;

   @include mq(large) {
      @include flexbox(column, flex-start, center, 2rem);
      padding-top: clamp(2rem, 12vw, 12rem);
   }

   @include mq(small) {
      @include flexbox(column, flex-start, center, 3rem);
      padding-top: clamp(5rem, 20vw, 7rem);
   }
}

.collection-item {
   @include width-height(100%, auto);
   max-width: 15.9375rem;
   @include flexbox(column, flex-start, center, 4.47rem);

   @include mq(large) {
      max-width: none;
      @include flexbox(row, center, center, clamp(0.5rem, 3vw, 2.19rem));
   }

   @include mq(small) {
      @include flexbox(column, center, center, 1.5rem);
   }
}

.collection-content {
   @include flexbox(column, flex-start, center, 1.5rem);
   text-align: center;

   @include mq(large) {
      max-width: 17.625rem;
      @include flexbox(column, flex-start, center, 2rem);
   }

   @include mq(small) {
      @include flexbox(column, flex-start, center, 1rem);
   }
}

.collection-content p {
   color: var( --clr-primary-3);
}

//Benefits

.benefits-wrapper {
   position: relative;
   @include width-height(100%, 36.0625rem);
   @include flexbox(column, flex-start, center, 0);

   background: var(--clr-neutral-3);
   border-radius: var(--primary-radius);
   padding-top: 6.25rem;
   margin-bottom: 21.94rem;

   @include mq(large) {
      @include width-height(100%, 35.8125rem);
      padding-top: 3.6rem;
      margin-bottom: 27.18rem;
   }

   @include mq(small) {
      @include width-height(100%,  56.375rem);
      padding-top: 5rem;
      margin-bottom: 45rem;
   }

}

.benefits-header {
   @include width-height(100%, auto);
   max-width: 33.75rem;
   @include flexbox(column, flex-start, center, 2rem);
   padding-inline: 1.5rem;

   @include mq(large) {
      @include flexbox(column, flex-start, center, 1.5rem);
   }
}

.benefits-header h2 {
   color: var(--clr-neutral-1)
}

.benefits-header p {
   color: var(--clr-neutral-1);
   text-align: center;
}

.benefits-list {
   @include position(absolute, 21.62rem, auto, auto, auto);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 1.88rem;
   align-items: stretch;
   padding-inline: var(--extra-padding);

   @include mq(large) {
      @include position(absolute, 17.19rem, auto, auto, auto);
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 1.5rem;
      padding-inline: 3.56rem;
      width: 100%;
   }

   @include mq(small) {
      @include position(absolute, 20rem, auto, auto, auto);
      padding-inline: var(--inline-small);
   }
}

.benefit-item {
   padding-block: 4.5rem 3rem;
   border-radius: 0.5rem;
   background: var(--clr-primary-1);
   display: grid;
   grid-template-rows: 4.5rem 1fr;
   justify-items: center;
   padding-inline: 3rem;
   gap: 3.5rem;

   @include mq(large) {
      grid-template-columns: 3.5rem 1fr;
      grid-template-rows: auto;
      align-items: center;
      justify-items: flex-start;
      gap: 3.44rem;
      padding-block: 2.56rem;
      padding-inline: clamp(2.5rem, 5vw, 4.37rem) clamp(1.5rem, 4vw, 3rem);
      width: 100%;
   }

   @include mq(small) {
      grid-template-columns: 1fr;
      grid-template-rows: 4.5rem 1fr;
      align-items: center;
      justify-items: center;
      gap: 3.5rem;
      padding-block: 4.5rem 3.5rem;
      padding-inline: 0.75rem;
      width: 100%;
   }
}

.benefit-icon-wrapper {
   @include width-height(4.5rem, auto);
   min-height: 4.5rem;
   @include flexbox(column, center, center, 0);

   @include mq(large) {
      @include width-height(3.5rem, auto);
   }

   @include mq(small) {
      @include width-height(4.5rem, auto);
   }
}

.benefit-content {
   display: grid;
   grid-template-rows: 4rem 1fr;
   align-items: normal;
   text-align: center;
   gap: 0.5rem;

   @include mq(large) {
      @include flexbox(column, flex-start, flex-start, 1rem);
      padding-inline: 0;
      text-align: start;
   }

   @include mq(small) {
      @include flexbox(column, flex-start, center, 1rem);
      text-align: center;
   }
}

.benefit-content p {
   @include mq(small) {
      padding-inline: 1.34rem;
   }
}

.benefit-item h3,
.benefit-item p {
   color: var(--clr-neutral-1);
}

// How it works

.how-it-works-wrapper {
   @include width-height(100%, auto);
   @include flexbox(column, flex-start, flex-start, 0);
   padding-inline: var(--extra-padding);
   margin-bottom: 12.5rem;

   @include mq(large) {
      margin-bottom: 9rem;
      padding-inline: 0;
   }

   @include mq(small) {
      margin-bottom: 7.5rem;
      @include flexbox(column, flex-start, center, 0);
   }
}

.how-it-works-wrapper {
   .heading-s {
      margin-bottom: 5rem;
      color: var(--clr-neutral-2);
   
      @include mq(large) {
         margin-bottom: 2.5rem;
      }
   
      @include mq(small) {
         margin-bottom: 5rem;
      }
   } 
}

.how-it-works-list {
   position: relative;
   @include width-height(100%, auto);
   max-width: 65.3125rem;
   @include flexbox(row, space-between, normal, 2rem);
   margin-bottom: 4rem;

   @include mq(large) {
      @include flexbox(row, space-between, normal, clamp(0.63rem, 2vw, 2rem));
   }

   @include mq(small) {
      @include flexbox(column, center, center, 3.5rem);
   }

   &::after {
      content: '';
      @include position(absolute, 0.9687rem, auto, auto, 0);
      @include width-height(calc(100% - var(--item-width)), 1px);
      background: var(--clr-primary-2);
      z-index: -1;

      @include mq(small) {
         display: none;
      }
   }
}

.how-it-works-item {
   @include width-height(100%, auto);
   max-width: 17.8125rem;
   @include flexbox(column, flex-start, flex-start, 0);
   flex: 1 1 100%; 

   @include mq(small) {
      @include flexbox(column, flex-start, center, 0);
      max-width: 28rem;
   }
}

.circle-item {
   @include width-height(1.9375rem, 1.9375rem);
   border-radius: 50%;
   border: 2px solid var(--clr-primary-1);
   background: var(--clr-neutral-4);
   margin-bottom: 4.19rem;

   @include mq(large) {
      margin-bottom: 3rem;
   }

   @include mq(small) {
      display: none;
   }
}

.how-it-works-item {
   .heading-l {
      color: var(--clr-primary-2);

      @include mq(large) {
         font-size: 4.5rem;
         line-height: 4.5rem;
      }

      @include mq(small) {
         text-align: center;
      }
   }
}

.how-it-works-item {
   .heading-m {
      max-width: 14rem;
      margin-block: 2.37rem 2.62rem;
   
      @include mq(large) {
         margin-block: 2.37rem 2.75rem;
      }
   
      @include mq(small) {
         text-align: center;
         margin-block: 1.5rem;
      }
   }  
}

.how-it-works-item p {
   @include mq(small) {
      text-align: center;
   }
}


