:root {
   --clr-primary-1: hsla(179, 81%, 29%, 1);
   --clr-primary-2: hsla(25, 95%, 86%, 1);
   --clr-primary-3: hsla(216, 20%, 25%, 1);
   --clr-primary-4: hsla(188, 54%, 61%, 1);


   --clr-neutral-1: hsla(43, 78%, 98%, 1);
   --clr-neutral-2: hsla(215, 5%, 54%, 1);
   --clr-neutral-3: hsla(216, 17%, 21%, 1);
   --clr-neutral-4: hsla(40, 76%, 98%, 1);


   --primary-radius: 0.625rem;
   --extra-padding: 5.31rem;
}